

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}



.menu-bar
{
  
  background-image: linear-gradient(-90deg,#d38312,#a83279);
  width: 100%;
  z-index: 1;
}

.nav-link
{
  font-size: 16px;
  margin: 3px;
  color: #fff !important;
  font-weight: 500;
  font-weight: bold;
}

.navbar-nav
{
  
  text-align: left;
  margin-right: 150px;
 
 
}

.menu-bar .navbar-toggler
{
  padding-right: 20px;
  outline: none!important;
  border: none!important;
  
  
}



/*Hover effect*/
.nav-link:hover
{
  font-weight: 600;
  border-bottom: 1px solid white;
}

/*Navbar logo*/
.navbar-brand img
{
  width: 150px;
  margin-top: 5px;
  margin-left: 20px;
}






/******************************** Hero section *********************************/


.home{

background-image: url(Images/hero_bg.jpg);
width: 100%;
height: 1000px;
}



.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

.bio {
  width: 25rem;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

/**************************** About me section ****************************************/
.about
{
  display: flex;
  align-items: center;
  background-color: #fff3e6;
  width: 100%;
  height: 500px;
}

.about .content
{
  text-align: center;
  margin-left: 310px;
}

.about p
{ 
  
  width: 25rem;
  padding: 10px;
  font-size: larger ;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
 

}

.about .about_img img
{
  width: 250px;
  height:250px; 
  margin-left: 200px; 
}

/**************************** Education section ****************************************/
.education
{
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 700px;
}

.education .content
{
  text-align: center;
  margin-left: 310px;
}

.education p
{ 
  
  width: 25rem;
  padding: 10px;
  font-size: larger ;

  border: 15px solid #D3D3D3;
 
}

.education .education_img img
{
  width: 250px;
  height:250px; 
  margin-left: 200px; 
}
  


/**************************<!-- Skills section -->****************************************/


.skills
{
  background-color: #DAF7A6;
  width: 100%;
  height: 500px;
}

.skills h2
{
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Remove extra left and right margins, due to padding */
.card-container {
  margin: 0 -5px;  
  display: flex;
  justify-content: center;
  flex-direction: row;}


/* Float two columns side by side */
.column {
float: left;
width: 30%;
padding: 0 10px;
margin-bottom: 50px;
text-align: center;
}


/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}


.card-container  .column .card .technical img
{
  width: 70px;
  height: 70px;
}

.card:hover 
{
  color: #a83279;
  background-color: #c8e8e9;
  position: relative;

}



/**************************<!-- Certificate section -->****************************************/


.certifications
{
  background-color: #fff3e6;
  width: 100%;
  height: 500px;
}

.certifications h2
{
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Remove extra left and right margins, due to padding */
.card-container {
  margin: 0 -5px;  
  display: flex;
  justify-content: center;
  flex-direction: row;}


/* Float two columns side by side */
.column {
float: left;
width: 30%;
padding: 0 10px;
margin-bottom: 50px;
text-align: center;
}


/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #fff3e6;
}


.card-container  .column .card .technical img
{
  width: 70px;
  height: 70px;
}

.card:hover 
{
  color: #a00562;
  background-color: #f7fff1;
  position: relative;

}

.References .card img{
  width: 70px;
  height: 70px;

  position: relative;
}

/**************************** Contact section ****************************************/
.contact
{
  background: #c8e8e9;
 
  display: flex;
  
  align-items: center;

  height: 250px;

  

}

.contact-form-container
{
width: 100%;
height: 150px;
margin-left: 30px;

}






/*

@media screen and (min-width: 480px) and (max-width: 768px)
{ 

.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.navbar-nav
{width: 100%;
  flex-direction: column;
 
}

}


@media screen and (max-width: 479px){
.nav-link:hover{
  border-bottom: none!important;}
  .navbar-nav
  {width: 100%;
    flex-direction: column;
   
  }
}*/